
<!DOCTYPE html>
<html lang="en" ng-app="demo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Web</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body>
    <div class="container" ng-controller="ContactController as contact">
        <table class="table">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="iterator in contact.contacts">
                <td>{{$index + 1}}</td>
                <td>{{iterator.id}}</td>
                <td>
                    <span ng-show="!iterator.editable">{{iterator.firstName}}</span>
                    <input ng-show="iterator.editable" type="text" class="form-control" ng-model="iterator.firstName" />
                </td>
                <td>
                    <span ng-show="!iterator.editable">{{iterator.lastName}}</span>
                    <input ng-show="iterator.editable" type="text" class="form-control" ng-model="iterator.lastName" />
                </td>
                <td>
                    <span ng-show="!iterator.editable">{{iterator.email}}</span>
                    <input ng-show="iterator.editable" type="text" class="form-control" ng-model="iterator.email" />
                </td>
                <td>
                    <span ng-show="!iterator.editable">{{iterator.phone}}</span>
                    <input ng-show="iterator.editable" type="text" class="form-control" ng-model="iterator.phone" />
                </td>
                <td>
                    <button ng-show="!iterator.editable" ng-click="contact.toggleEdit(iterator)" class="btn btn-primary btn-sm">Edit</button>
                    <button ng-show="iterator.editable" ng-click="contact.toggleEdit(iterator)" class="btn btn-success btn-sm">Update</button>
                    <button ng-click="contact.delete($index)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>

        </table>
    </div>

</body>

</html>